@import "reset";

@import "variables";

@import "mixin";

@import "article";

.container{
    padding: 0 1rem;
}

//!variable usage
body{
    background-color:$bgColor ;
    font-family: $fontFamily;
    font-size: $fontSize;
    color: $fontColor;

}

//!nesting usage

nav{
    display: flex;
    justify-content: space-between;
    background-color: $navBgColor;
    .brand{
        img{
            width: 80px;
            border: $navBgColor;
            border-radius: 30%;
            padding: 10px;
            margin: 10px;
        }
    }
    .navbar{
        margin: 10px;
        ul{
            list-style-type: none;
            display: flex;
            li{
                a{
                    text-decoration: none;
                    padding: 5px;
                    color: black;
                    font-size: $myLinkSize;
                }
                input{
                    width: 60px;
                }
            }
        }
    }
}
.slider {
    display: flex;
    justify-content: space-evenly;
    background-color: $sliderBgColor;
    .left {
      margin-top: 20px;
      button {
        padding: 10px;
        border-radius: 10px;
        margin: 10px;
        background-color: $navBgColor;
        font-size: $myLinkSize;
        border: 2px solid gray;
  
        /***  IMPORTANT  ***/
        &:hover {
          background-color: green;
          border: 2px solid pink;
        }
      }
    }
    img {
      width: 30%;
    }
  }

  //!mixin usage
  .content{
      .cards{
          display: flex;
          .card1{
              @include myBox(brown, white);
          }
          .card2{
            @include myBox(cyan, black); 
          }
          .card3{
            @include myBox(blue, grey);
          }
          .card4{
            @include myBox(green, black);
          }

      }
  }


//! FOR LOOP to change the color of footer socialboxes  automatically with lighten property
.socialBoxes{
    display: flex;
    @for $i from 1 through 5{
        .social#{$i}{
            width: 20%;
            height: 100px;
            background-color: lighten(black, ($i *10));
        }

    }

}
$textColor: #990000, #55004E, #0FA8A1, #121456, #64C217;
@for $i from 1 through length($textColor){
    .social#{$i}{
        color: nth($textColor, $i);
        font-size: $i *1rem;
        font-weight: 500;
    }
}

//!ıf else
$dark: 3;
.footer{
    @if $dark == 1{
        background-color: white;
    }@else if $dark == 2{
        background-color: gray ;
    }@else{
        background-color: green;;
    }
}